body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    background: #292929;
}

.header {
    display: flex;
}

.app-name {
    font-size: 36px;
    color: #E0E0E0;
    font-weight: 300;
    padding: 35px 0 0 50px;
}

.add {
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.trash {
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
hr {
    margin: 0 auto;
    width: 89.583%;
    height: 0px;
    left: 50px;
    top: 80.68px;

    border: 1px solid #828282;
}

.editable {
    display: block;
    background: #333333;
    font-family: 'Roboto', sans-serif;
    color: #E0E0E0;
    width: 89.583%;
    height: 107px;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    outline: none;
}

.notes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;
    width: 89.583%;
    height: 266px;
}

.next{
    display: flex;
    justify-content: space-between;
    padding: 0 438px 28px 438px;
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    opacity: 0.5;
}

.note {
    background: #292929;
    color: #E0E0E0;
    width: 272.52px;
    height: 302px;
    overflow-y: auto;
}

#paragraph {
    word-break: break-all;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 16px;
    text-align: justify;
  }

.note::-webkit-scrollbar {
    width: 5px;
    background-color: #292929;
  }
  
.note::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5c5c5c;
  }
  
.note::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #414141;
  }

#indent {
    background: #292929;
    width: 960px;
    height: 69px;
}

button {
    height: 32px;
    padding: 0px;
    margin-top: 40px;
    margin-left: 21px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.button_add {
    margin-left: 609px;
}
